[user]
  name = Yuxin Wu
  email = ppwwyyxx@users.noreply.github.com
  signingkey = BD44C94225B1AB37
[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  preloadindex = true
[advice]
  statusHints = false
[merge]
  guitool = meld
  tool = vimdiff
  ff = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
  ff = only
[branch]
  autosetuprebase = always
[clone]
  progress = true
[github]
  user = ppwwyyxx
[push]
  default = simple
[diff]
  mnemonicprefix = true
  guitool = meld
  tool = difftastic
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[diff "lisp"]
  xfuncname="^(\\((def|test).*)$"
[diff "python"]
  xfuncname="^\\s*(class.*\\(.*\\)|def.*)(\\(|:)"
[color]
  ui = auto
  diff = auto
  status = auto
  grep = always
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  old = red bold
  new = green bold
  frag = magenta bold
[pager]
  grep = ([[ -x "$(command -v delta)" ]] && delta || less -RFX)
  diff = ([[ -x "$(command -v delta)" ]] && delta || diff-highlight) #| less --tab=4 -RFX
  blame = ([[ -x "$(command -v delta)" ]] && delta || less -RFX)
[alias]
  a   = add
  b   = branch
  pl  = pull --rebase
  pu  = push
  m   = merge
  mt  = mergetool
  cl  = clone --recursive
  s   = status -b -uno
  ck  = checkout
  ckb = checkout -b
  r  = remote

  t   = tag
  rc  = rebase --continue
  sqlast = rebase -i "HEAD~2"
  untrack = rm -r --cached
  unstage = reset --hard 'HEAD'
  dupes = !git ls-tree -r HEAD | cut -c 13- | sort | uniq -D -w 40
  showdelete = log --diff-filter=D --summary

  dc    = diff --cached
  d     = diff --diff-filter=d  # don't show deleted files
  diffl = diff HEAD^
  lastchange = log -p --follow -n 1

  c   = commit
  cv  = commit -v
  ca  = commit -a
  caa = commit -a --amend
  cav = commit -av

  l   = log-link
  log = log --graph
  xl  = log --color --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  lola= log --graph --decorate --pretty=oneline --abbrev-commit --all

  ss  = stash
  sl  = stash list
  sa  = stash apply

  # 'git submodule sync' first, then
  sbi = submodule update --init --recursive

  gcc = gc --aggressive --prune=now
  lastchange = log -p --follow -n 1

  # from CIA
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort

  # https://www.atlassian.com/git/tutorials/git-lfs#pulling-and-checking-out
  plfs = !git -c filter.lfs.smudge= -c filter.lfs.required=false pull && git lfs pull

  pulll = pull --rebase
  pullll = pull --rebase
  pulllll = pull --rebase
  pullllll = pull --rebase
  pulllllll = pull --rebase
  pullllllll = pull --rebase
  pulllllllll = pull --rebase
  pullllllllll = pull --rebase
[http]
  ;proxy=http://localhost:7777
[https]
  ;proxy=http://localhost:7777
[init]
  templatedir = ~/.git-templates
[tig]
  mouse = true
  tab-size = 2
  ignore-space = some
  main-view = date author:display=full,width=11 commit-title:graph=v2,refs=true
[tig "bind"]
  stage = <Enter> :/^@@
  main = G none
  generic = G move-last-line
  generic = g none
  generic = gg move-first-line
[include]
  path = ~/.gitconfig.local
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[delta]
  navigate = true    # use n and N to move between diff sections
  line-numbers = true
  line-numbers-left-format = 
  light = false
  file-style = omit
  hunk-header-decoration-style = 
  hunk-header-style=file line-number syntax
  max-line-length = 1024
  hyperlinks = true
  tabs = 2

  minus-style = "syntax #630d0d"
  minus-emph-style = syntax red
  plus-style = syntax darkgreen
  plus-emph-style = syntax forestgreen
  pager = less -RS
