URxvt.depth: 32
!URxvt.background: rgba:0000/5000/5000/cccc
URxvt.transparent: true
URxvt.shading: 10

URxvt.geometry: 90x90
!URxvt.borderLess: true
URxvt.scrollBar: false
! Use shift to scroll
URxvt.secondaryScroll: true

URxvt.foreground: #FFFFFF
URxvt.background: #000000
URxvt.colorUL: #00ff5f
URxvt.cursorColor: #4a54A3
URxvt.cursorBlink: true
URxvt.pointerBlank: true
URxvt.visualBell: true
URxvt.urgentOnBell: false
! URxvt.bell-command: notify-send "Meow~~"

! Jump when receiving new line
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeyPress	: true
URxvt.scrollWithBuffer: false
URxvt.jumpScroll: true
! refresh once in a while when receiving too many lines
URxvt.skipScroll: true

URxvt.termName: rxvt-256color
! Disable Ctrl-Shift
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.tripleclickwords: true
URxvt.saveLines: 10000
URxvt.insecure: true

!URxvt.font: xft:Source Code Pro-12x21:antialias=true,xft:WenQuanYi Micro Hei Mono-11x19:antialias=true
URxvt*font: xft:FantasqueSansMono-13x21,xft:WenQuanYi Micro Hei Mono-11x19:antialias=true,xft:Symbola:size=10
URxvt.boldfont: xft:WenQuanYi Micro Hei Mono-11:bold,xft:Symbola Bold:size=10
URxvt.italicfont: xft:WenQuanYi Micro Hei Mono-11:italic
URxvt.buffered: true
!use letterspace=-1 with source-code-pro
!URxvt.letterSpace: -1
!URxvt.lineSpace: 0

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
! Per-machine configuration
Xft.dpi: 108

! Fix Color
! 0 - 7, 8 - 15: black, red, green, yellow, blue, magenta, cyan, white
!blue, the dark(pure) blue is too dim
*color4:  #2277cc
*color12: #2277cc


! ROFI Color theme
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #003643, #008ed4, #ffffff
rofi.color-active: #002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661
