URxvt.depth: 32
!URxvt.background: rgba:0000/5000/5000/cccc
URxvt.transparent: true
URxvt.shading: 10

URxvt.geometry: 80x30
!URxvt.borderLess: true
URxvt.scrollBar: false
! Use shift to scroll
URxvt.secondaryScroll: true

URxvt.foreground: #FFFFFF
URxvt.background: #000000
URxvt.colorUL: #00ff5f
URxvt.cursorColor: #4a54A3
URxvt.cursorBlink: true
URxvt.pointerBlank: true
URxvt.visualBell: true
URxvt.urgentOnBell: false
URxvt.bell-command: notify-send "Meow~~"

! Jump when receiving new line
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeyPress	: true
URxvt.scrollWithBuffer: false
URxvt.jumpScroll: true
! refresh once in a while when receiving too many lines
URxvt.skipScroll: true

URxvt.termName: rxvt-256color
! Disable Ctrl-Shift
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.tripleclickwords: true
URxvt.saveLines: 10000
URxvt.insecure: true

!URxvt.font: xft:WenQuanYi Micro Hei Mono-12x19:antialias=true,xft:WenQuanYi Micro Hei Mono-11x19:antialias=true
URxvt.font: xft:Source Code Pro-12x21:antialias=true,xft:WenQuanYi Micro Hei Mono-11x19:antialias=true
URxvt.boldfont: xft:WenQuanYi Micro Hei Mono-11:bold
URxvt.italicfont: xft:WenQuanYi Micro Hei Mono-11:italic
URxvt.buffered: true
!urxvt have terrible letter space
URxvt.letterSpace: -1
URxvt.lineSpace: 0
! font settings suggested by infinality {
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb
!}


! With ibus: need ibus to start with `ibus-daemon --xim`
!URxvt.inputMethod: ibus
!Urxvt.preeditType: OverTheSpot

! Utils:
#ifndef URXVT_PERL_LIB
#define URXVT_PERL_LIB /home/wyx/.urxvt/
#endif
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,readline,matcher,selection
URxvt.perl-ext:selection-popup,selection-autotransform,searchable-scrollback
URxvt.perl-lib: URXVT_PERL_LIB

URxvt.matcher.button: 1
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
!URxvt.keysym.M-Escape:      perl:keyboard-select:activate
!URxvt.keysym.M-s:           perl:keyboard-select:search

URxvt.tabbed.tabbar-fg: 5
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.autohide: yes
URxvt.tabbed.title: no
!URxvt.keysym.C-t: perl:tabbed:new_tab
!URxvt.keysym.M-l: perl:tabbedex:next_tab
!URxvt.keysym.M-h: perl:tabbedex:prev_tab
!URxvt.tabbed.no-tabbedex-keys: true

URxvt.keysym.C-C:   perl:clipboard:copy
URxvt.keysym.C-V:   perl:clipboard:paste

! Fix Color
! 0 - 7, 8 - 15: black, red, green, yellow, blue, magenta, cyan, white
!blue, the dark(pure) blue is too dim
*color4:  #2277cc
*color12: #2277cc
