
[Desktop Entry]
Type=Application
Exec=/home/wyx/bin/autostart
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=autostart
Name=autostart
Comment[en_US]=
Comment=
