
[Desktop Entry]
Type=Application
Exec=xscreensaver
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xscreensaver
Name=xscreensaver
Comment[en_US]=
Comment=
