[Desktop Entry]
Type=Application
Terminal=false
Exec=/usr/bin/chromium --no-startup-window
Name=Chromium
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
